main {
    font-family: sans-serif;
    text-align: center;
    margin: 50px;
  }
  .option-button {
    padding: 1em 2em;
    margin: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 9px;
    background-color: #2196F3; /* 青 */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .option-button.selected {
    background-color: #FFD700; /* 黄色 */
    color: black;
  }
  /*以下古い設定ボタン*/
  #confirm-button-old {
    margin-top: 50px;
    padding: 1.5em 3em;
    font-size: 2.5rem;
    border: none;
    border-radius: 9px; /* 角丸の処理*/
    background-color: #2196F3; /* 青 */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  } 
  /* 新しい確認ボタン*/
  #confirm-button {
    margin-top: 50px;
    width: 240px; /* 横幅を指定 */
    height: 130px; /* 縦幅を指定 */
    font-size: 2.5rem;
    border: none;
    border-radius: 9px; /* 角丸をなくすなら0、少し丸くするなら好みで調整 */
    background-color: #2196F3; /* 青 */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  /* 点滅アニメーション */
  @keyframes blink {
    0% { background-color: #2196F3; color: white; }
    50% { background-color: white; color: #2196F3; }
    100% { background-color: #2196F3; color: white; }
  }
  #confirm-button.blinking {
    animation: blink 0.8s infinite;
  }

  body {
    background-color: rgb(71,85,85);
  }